<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello,  <%= @student&.name %></h1>

    <p>Your account has been created by admin.</p>
    <p>Email: <%= @student&.email %></p>
    <p>Password: <%= @student&.password %></p>

  </body>
</html>
